<% @articles.each do |article| %>
<div class="post-preview">
  <a href="<%= article_path(article) %>">
		<h2 class="post-title">
			<%= article.title %>
		</h2>
		<h3 class="post-subtitle">
			Subtitulo ainda nao implementado
		</h3>
	</a>
	<p class="post-meta">
		"Posted by J Alex on September 24, 2014"
	</p>
</div>
<hr>
<% end %>

<% if logged_in? %>
	<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
</div>