<% @articles.each do |article| %>
<div class="post-preview">
  <a href="<%= article_path(article) %>">
		<h2 class="post-title">
			<%= article.title %>
		</h2>
		<h3 class="post-subtitle">
			<%= article.subtitle %>
		</h3>
	</a>
	<p class="post-meta">
		"<%= article.created_at.strftime("Posted by J Alex on %B %d, %Y") %>"
	</p>
</div>
<hr>
<% end %>