<% content_for :title, 'Tag List' %>
<ul>
<% @tags.each do |tag| %>
	<li>
		<%= link_to tag.name.capitalize, tag_path(tag) %> 
		<% if logged_in? %>
			- <%= link_to 'delete', tag_path(tag), method: :delete  %></li>
		<% end %>
<% end %>
</ul>